# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# binary files
polynomials
sched-simulator-estimate-backfilling
sched-simulator-runtime
trials_simulator

# temporary data
current-simulation.csv
result-temp.dat
